/* Product Images */
.line {
    position:relative
}
.line a {
    position:absolute !important;
    width:240px;
    left:0;
    z-index:1;
    padding:0px 0px 40px 0px;
    background:#FFF
}
.line a.active {
    z-index:3
}

/* Twitter Button List */
div.tweet-list > .button-container > button {
    background:#28bdb3;
    padding:0px 10px 5px 10px;
    width:970px;
    height:55px;
    margin-bottom:1rem;
    border:thick solid #28bdb3;
    color:#FFF;
    font-size:26px;
    text-transform:uppercase
}
div.tweet-list > .button-container > button:hover {
    background:#FFF;color:#28bdb3
}
div.tweet-list > .button-container > button:focus {
    outline:0
}
div.tweet-list > #t-list {
    position:relative;
    height:0px;
    overflow:hidden;
    transition:height 0.5s linear 0s
}
div.tweet-list > #t-list > div {
    background:#FFF;
    margin:10px
}
div.tweet-list > #t-list > div ul {
    border-right:solid 2px #28bdb3;
    border-left:solid 2px #28bdb3
}
div.tweet-list > #t-list > div li {
    line-height:20px;
    font-size:14px;
    padding:5px 10px
}

/* Tweets */
#tweets li {
    font-size:18px !important
}
#tweets a {
    text-align:center;
    color:#2FC2EF
}
#tweets a:hover {
    text-decoration:underline
}
.user {
    color:#2FC2EF
}